body {
    padding-top: 5rem;
}



li {
    padding: 10px;
    color: white;
    font-weight: 600;
    
}

li.message {
    background: rgba(241, 8, 222, 0.63);
}

button
{
    border-radius: 15%;
    border-color: blueviolet;
    background-color: blueviolet;
    color: aliceblue;
    
}